{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'base/reset_done.css' %}">

    <div class="login-wrapper">
        <h1>Password reset sent</h1>
    <p class="email-sent">We've emailed you instructions for setting your password, if an account exists with the email you entered.
       You should receive them shortly.<br>If you don't receive an email,
        please make sure you've entered the address you registered with, and check your spam folder.</p>
    <div class="login-href">
        <a href="{% url 'base:login' %}">Login</a>
    </div>
    </div>
{% endblock content %}