{% extends 'base/base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{% block content %}
    <link rel="stylesheet" href="{% static 'base/profile_update.css' %}">

    <div class="password-change-wrapper">
        <h3>Change your password</h3>
        <form method="POST">
             <div class="back">
                 <a href="{% url 'base:profile_update' %}" class="back-button">Go back</a>
             </div>
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit"></input>
        </form>
    </div>
{% endblock content %}