{% extends 'todolist/base.html' %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <div class="sidepanel">
        <a href="{% url 'todolist:tasks' %}">
            <div class="without-project medium-font">Tasks without project</div>
        </a>
        {% if projects %}
            <div class="separator"></div>
            <div class="project-div medium-font">Projects</div>
        {% endif %}
        {% for project_in_list in projects %}
            <a href="{% url 'todolist:project' project_in_list.id %}">
                {% if project.id == project_in_list.id %}
                    <div class="project-wrapper chosen medium-font">
                        {{ project_in_list.title }}
                    </div>
                {% else %}
                    <div class="project-wrapper medium-font">
                        {{ project_in_list.title }}
                    </div>
                {% endif %}
            </a>
        {% empty %}
            <span>You haven't created any projects yet!</span>
        {% endfor %}
    </div>
    <div class="page-wrapper">
        <header>

            <div class="project-wrapper-details">
                <div class="project-title"><h1>{{ project.title }}</h1></div>
                <div class="description medium-font"><b>Description: </b>{{ project.description }}</div>
            </div>
            <div class="user-info">
                {% if request.user.is_authenticated %}
                    <div><p>{{ request.user }}</p></div>
                    <div><a href="{% url 'base:logout' %}">Logout</a></div>
                {% else %}
                    <a href="{% url 'base:login' %}">Login</a>
                {% endif %}
            </div>
        </header>
        <div class="creation-wrapper">
            <a href="{% url 'todolist:task-create' %}">
                <div class="creation-elems medium-font">Add task</div>
            </a>
            <a href="{% url 'todolist:project-create' %}">
                <div class="creation-elems medium-font">Create project</div>
            </a>
            <a href="{% url 'todolist:project-update' project.id %}">
                <div class="creation-elems medium-font">Update project</div>
            </a>
            <a href="{% url 'todolist:project-delete' project.id %}">
                <div class="creation-elems medium-font">Delete project</div>
            </a>
        </div>
        <div class="for-form">
            <form method="GET">
                <input type="text" name="search-area" value="{{ search_input }}">
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="for-tasks">
            {% for task in tasks %}
                <div class="task-wrapper">
                    <div class="options medium-font">{{ task.title }}</div>
                    <div class="options medium-font"><div class="option-wrap"><a href="{% url 'todolist:task' task.id %}">View</a></div></div>
                    <div class="options medium-font"><div class="option-wrap"><a href="{% url 'todolist:task-update' task.id %}">Edit</a></div></div>
                    <div class="options medium-font"><div class="option-wrap"><a href="{% url 'todolist:task-delete' task.id %}">Delete</a></div></div>
                    {% if task.priority_level == "B" %}
                        <div class="options medium-font"><div class="option-wrap medium-color">&nbsp;</div></div>
                    {% elif task.priority_level == "A" %}
                        <div class="options medium-font"><div class="option-wrap high-color">&nbsp;</div></div>
                    {% else %}
                        <div class="options medium-font"><div class="option-wrap low-color">&nbsp;</div></div>
                    {% endif %}
                </div>
            {% empty %}
                <h3>Project currently has not assigned task!</h3>
            {% endfor %}
        </div>
    </div>
{% endblock content %}