{% extends 'todolist/base.html' %}
{% load static %}


{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todolist/style_form.css' %}">

    <div class="task-form-wrapper">
        <h3>Task form</h3>
        <a href="{% url 'todolist:tasks' %}">Go back</a>
        <div class="form-div"></divclass>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock content %}