{% extends 'todolist/base.html' %}
{% load static %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todolist/task_details.css' %}">

    <div class="task-details">
        <a href="{% url 'todolist:tasks' %}">Go back</a>
        <h1>{{ task.title }}</h1>
        <div>Content: {{ task.content }}</div>
        <div>Added: {{ task.timestamp }}</div>
    </div>


{% endblock content %}
