body {
    background-color: #1d3557;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 80%;
    margin: auto;
    background-color: #457b9d;
    padding: 2vh;
    height: 80vh;
    display: flex;
    flex: 0 0 auto;
    position: absolute;
    top: 8%;
    left: 10%;
    border-radius: 0.5em;
    font-family: 'Lato', sans-serif;
}

.page-wrapper {
    padding: 0.5vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}
.user-info {
    width: 20%;
    text-align: right;
    margin-right: 3%;
    padding: 0.5%;
}

.sidepanel {
    padding: 0.5vh;
    margin-right: 3%;
}

.sidepanel > a {
    text-decoration: none;
    color: black;
}

.sidepanel > a > div {
    margin-top: 10%;
    border-radius: 5%;
    background-color: #a8dadc;
    padding: 2%;
    text-align: center;
}

.project-div {
    margin-top: 10%;
    border-radius: 5%;
    background-color: #a8dadc;
    padding: 2%;
    /*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);*/
}

.chosen {
    background-color: #e63946 !important;
}

.creation-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1% 1% 1% 0;
    gap: 1%;
}

.creation-wrapper > a {
    text-decoration: none;
    color: black;
}

.creation-elems {
    padding: 2%;
    background-color: #a8dadc;
    margin-right: 1%;
    border-radius: 0.3em;
    text-align: center;
    font-size: 3vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.for-form {
    margin: 0.2%;
}

.for-form > form > input[type=text] {
    border-radius: 0.6em;
    padding: 0.3em;
    height: 3.5vh;
    border: 0;
}

.for-form > form > input[type=submit] {
    border: 0.1em solid black;
    border-radius: 0.2em;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    font-size: 3vh;
}

.for-tasks {
    /*width: 100%;*/
    margin-top: 2%;
    padding: 1.5%;
    padding-left: 0;
    overflow: auto;
}
::-webkit-scrollbar {
  width: 0.8em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d3557;
  border-radius: 1em;
}

.task-wrapper {
    display: flex;
    background-color: #f1faee;
    margin-top: 0.75%;
    border-radius: 0.2em;
}

.options {
    text-align: center;
    flex: 1 1 0px;
    padding: 0.6%;
    line-height: 5vh;
    vertical-align: center;
    margin: auto;
}

.option-links {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 6vh;
    vertical-align: center;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.options > div > a {
    text-decoration: none;
    color: black;
}

.option-wrap {
    background-color: #e63946;
    width: 50%;
    margin: auto;
    border-radius: 0.3em;
}

.separator {
    height: 0.2em;
    background-color: black;
    margin-top: 10%;
}

.without-project {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.medium-font {
    font-size: 3.5vh;
}

.user-info > div {
    font-size: 3.2vh;
}

.user-info > a {
    font-size: 3vh;
}

.task-form-wrapper {
    background-color: purple;
}

.user-info > div > a {
    color: white;
}

.medium-color {
    background-color: orange;
}

.high-color {
    background-color: firebrick;
}

.low-color {
    background-color: mediumseagreen;
}