.body {
    font-family: 'Lato', sans-serif;
}

.task-details {
    width: 80%;
    margin: auto;
    background-color: #1d3557;
    border-radius: 0.8em;
    height: 55%;
    position: relative;
}

h1 {
    font-size: 7.8vh;
    color: white;
    text-align: center;
}

.task-details > div {
    margin-left: 20%;
    margin-top: 2%;
    font-size: 4vh;
    color: white;
}

.task-details > a {
    position: absolute;
    top: 15%;
    left: 4.5%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 3vh;
}