h1 {
    color: white;
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 20%;
    vertical-align: center;
}

.wrapper {
    display: block;
}

main {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 6%;
    font-size: 3.9vh;
}

main > a {
    color: white;
}
