body {
    color: white;
}

form {
    margin-left: 10%;
    font-size: 2.2vh;
}

form > p > input[type=email] {
    padding: 2%;
    border-radius: 1.1em;
}

.login-wrapper {
    height: auto;
    width: 85%;
}

form > input[type=submit] {
    width: auto;
    padding: 1%;
    height: auto;
    margin-top: 2%;
}

.account {
    margin-left: 10%;
}

.account > a {
    color: white;
}

#error_1_id_username, #error_1_id_email {
    color: red;
}

#hint_id_email, #hint_id_password2 {
    display: none;
}

input[type=text], input[type=email] {
    border-radius: 1.1em;
    padding: 2%;
    height: 1vh;
}

input[type=password] {
    height: 0.5vh;
}

.controls {
    display: flex;
}

#error_1_id_password2, #error_2_id_password2,
#error_3_id_password2, #error_4_id_password2 {
    color: firebrick;
}