.login-wrapper {
    padding: 1.5% !important;
}

.login-wrapper > p {
    text-align: center;
    color: white;
    font-size: 2.3vh;
    margin-bottom: 2%;
}

form > div > label {
    color: white;
}

form > div > div > input[type=email]{
    border-radius: 1.1em;
    border: 0;
    height: 4vh;
    font-size: 2vh;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

form > input[type=submit] {
    width: auto;
    font-size: 2.4vh;
    padding: 1.5%;
    padding-bottom: 5.5%;
}

.login-wrapper > a {
    /*margin-left: 10% !important;*/
    /*margin-top: */
    position: absolute;
    margin: 0;
    top: 5%;
    left: 6%;
    text-decoration: none;
    font-size: 3.1vh;
}