{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'base/profile_update.css' %}">

    <div class="profile-form-wrapper">
    <h3>Profile update</h3>
    <form method="POST">
        <a href="{% url 'todolist:tasks' %}" class="back-button">Go back</a>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
    </div>
{% endblock content %}